* {
    margin: 0;
    padding: 0;
}

.fa {
    width: 400px;
    margin-bottom: 30px;
    border: 1px solid red;
}

.son {
    width: 0px;
    height: 40px;
    background-color: #f0f;
    text-align: center;
    line-height: 40px;
}