* {
    margin: 0;
    padding: 0;
}

.table-tab {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 90px;
}

.table-tab ul {
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
.table-tab ul li {
    float: left;
    list-style: none;
    line-height: 50px;
    border-right: 1px solid black;
    width: 124px;
    background-color: antiquewhite;
}

p {
    display: none;
}